.navbar-inverse {
    background-color: #3e6a9e;
    border-color: #080808;
}

a {
    color: #d9534f;
    border-block-color: #d9534f;
    text-decoration: none;
}

.glyphicon {
    font-size: 30px;
}